/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #ffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  color: #444444;
}
h3 {
  font-weight: 500;
  color: #444444;
}
p {
  color: #999999;
  font-weight: 300;
}

a,
.link {
  color: #444444;
  font-weight: 500;
  line-height: 20px;
  border: none;
  background: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.link {
  text-decoration: underline;
}
a.isDisable {
  color: #999999;
  cursor: no-drop;
}
.mr-1 {
  margin-top: 23px;
}

.mr-2 {
  margin-top: 48px;
}
@media (max-width: 576px) {
  .none {
    margin-top: 0px;
  }
}
